{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link href="{{ 'style/index.css' }}" rel="stylesheet"/>
  <link href="{{ 'style/nav.css' }}" rel="stylesheet">
{% endblock %}

{% block main %}
<p class="card_text">
    Wild Code School de Tours<br>
    Développeur web et web mobile Septembre 2020-Février 2021<br>
    
    Université François Rabelais de Tours<br>
    L1 Mathématiques et Informatique 2016-2017<br>
    
    Lycée Jacques de Vaucanson, Tours<br>
    BTS Conception et Industrialisation Microtechnique 2013-2015<br>
    
    BAC STI2D Sciences et Technologies de l'Industrie et du Développement Durable 2011-2013
</p>
{% endblock %}
